@model CapaPresentacion.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<style>
    .col-md-6 {
        background-color: #31312F;
        border-radius: 10px;
        color: white;
        margin-top: 25px;
        margin-left: 10rem;
    }

    body {
        background: linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    }
    .title{
        margin-left: 10rem;
    }
</style>

<h2 class="title"><b> @ViewBag.Title.</b></h2>

<div class="col-md-6">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Cree una cuenta nueva.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Registrarse" />
                <a href="/Account/Login" class="btn btn-info">Ir al Login</a>
            </div>
        </div>
    }
</div>

<div class="col-md-4">
    <section id="socialLoginForm">
        <br /><br />
        <img src="~/imagenes/undraw_Create_re_57a3.svg" alt="vector" width="400" />

    </section>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
